@import url('../fonts/fonts.css');

:root {
    --maincolor: #FFF;
    --secondcolor: #000;
}

body {
    font-family: 'Raleway-Regular', 'Arial', sans-serif;
    text-underline-offset: 4px;
    font-size: 18px;
    color: var(--maincolor);
    background-color: var(--maincolor);
    max-width: 1100px;
    margin: 0 auto;
}

a {
    text-transform: none;
    color: var(--secondcolor);
}

a:hover {
    color: #686868;
}

a, button, span {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}